<h1>Lesson7</h1>
<h3>ツイッタークローン</h3>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Microposts</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">課題：フォロー、フォロワーの一覧</div>
    <div class="panel-body">製作条件
      <a href="https://techacademy.jp/my/rails/twitter-clone#chapter-12">提出先</a>
  　</div>
      <table class="table table-bordered">
      <tr>
      <th class="success">番号</th>
      <th class="success">内容</th>
      <th class="success">コマンド/備考</th>
      </tr>
      <tr>
      <td>1</td>
      <td>ここまで出来たら動作確認し動作確認ができたら<br>新しいブランチを作成（名前はfollowings-followers）</td>
      <td></td>
      </tr>
      <tr>
      <td>2</td>
      <td>各ユーザーがフォローしているユーザーと、<br>各ユーザーをフォローされているユーザーの一覧を表示するページを作成</td>
      <td>表示はTwitterを参考</td>
      </tr>
      <tr>
      <td>3</td>
      <td>UsersControllerのfollowingsにフォローしているユーザーを、<br>followersにフォローされているユーザーを表示するメソッドを実装</td>
      <td></td>
      </tr>
      <tr>
      <td>4</td>
      <td>フォロー、フォロワーの一覧ページの実装後に、<br>フォロー、フォロワーの一覧リンクもユーザープロフィールページに設置</td>
      <td></td>
      </tr>
      <tr>
      <td>5</td>
      <td>完成したらGitHubにブランチをプッシュ</td>
      <td></td>
      </tr>
      <tr>
      <td>6</td>
      <td>リポジトリ名(microposts)とブランチ名(followings-followers)を選択</td>
      <td></td>
      </tr>
      <tr>
      <td>7</td>
      <td>コメント追加提出</td>
      <td></td>
      </tr>
      <tr>
      <td>8</td>
      <td>課題提出後はmasterブランチに戻って作業を行ってください。</td>
      <td></td>
      </tr>
      <tr>
      <td>9</td>
      <td>コードレビュー合格後にfollowings-followersブランチをmasterブランチにマージ</td>
      <td></td>
      </tr>
    </table>
  </div>
</div>