<h1>Lesson7</h1>
<h3>ツイッタークローン</h3>

<div class="panel panel-primary">
  <div class="panel-heading">課題：ユーザーのプロフィール更新</div>
  <div class="panel-body">製作条件</div>
  <ul class="list-group">
      <li class="list-group-item">レッスン7-1～7-6まで出来たら動作確認と新規ブランチ作成（名前はuser-profile）</li>
      <li class="list-group-item">ユーザーがログインできるだけでなく、Twitterのように基本情報（プロフィール、メールアドレス、地域など）を更新できるようにしてください。</li>
      <li class="list-group-item">基本情報の編集画面はUsersControllerのeditに、更新処理はupdateにそれぞれアクションを割り当て</li>
      <li class="list-group-item">基本情報の編集と更新は、ログインしているユーザーが、自分のもののみできるようにします。</li>
      <li class="list-group-item">完成したらGitHubにブランチをプッシュ</li>
      <li class="list-group-item">リポジトリ名(microposts)とブランチ名(user-profile)を選択</li>  
      <li class="list-group-item">※ 課題提出後はmasterブランチに戻って作業を行ってください。</li> 
      <li class="list-group-item">※ コードレビュー合格後に、user-profileブランチをmasterブランチにマージ</li> 
  </ul>
</div>