<h1 class="followingfolower">followers list</h1>

<div class="panel panel-default">
  <div class="panel-heading">現在、あなたがフォローしてる人です</div>
  <table class="table table-hover">
       <tbody>
    		<tr>
    			<th>番号</th>
    			<th>写真</th>
    			<th>名前</th>
    		</tr>
    		<tr>
    			<td></td>
    			<td><% @followers.each do |user| %><%= gravatar_for(user) %></td>
    			<td><%= user.name %></td>
    		</tr>
    		<% end %>
    	</tbody>
  </table>
</div>