<h1 class="followingfolower">followers list</h1>

<div class="container">
    <form>
        <% @followers.each do |user| %>
   <%= gravatar_for(user) %>
   <%= user.name %>
    </form>
</div>
<br>
<% end %>