<h1 class="followingfolower">followers list</h1>
<h2>user/followers.html.erb</h2>

<div class="col-xs-6 col-sm-push-3">
　<div class="panel panel-default">
  　<div class="panel-heading">現在、あなたをフォローされてる人です</div>
  　　<table class="table table-hover">
       <tbody>
    	　　<tr>
    	　　　<th>写真</th>
    	　　　<th>名前</th>
    	　　</tr>
    	　　　<tr>
    	　　　<% @followers.each do |user| %>
        		<td><%= gravatar_for(user) %></td>
        		<td><%= user.name %></td>
        	</tr>
 　　　　　　<% end %>
    	</tbody>
  　</table>
　</div>
</div>