<%= render "info/kadai" %>
<h1>課題：フォロー、フォロワーの一覧</h1>

<a>https://techacademy.jp/my/rails/twitter-clone#chapter-10</a>
<table class="table table-bordered">
<caption>製作条件</caption>
<tr>
<th class="success">番号</th>
<th class="success">内容</th>
<th class="success">コマンド/備考</th>
</tr>
<tr>
<td>1</td>
<td>ここまで出来たら動作確認し動作確認ができたら新しいブランチを作成（名前はfollowings-followers）</td>
<td>git checkout -b followings-followers</td>
</tr>
<tr>
<td>2</td>
<td>各ユーザーがフォローしているユーザーと、<br>各ユーザーをフォローされているユーザーの一覧を表示するページを作成</td>
<td>表示はTwitterを参考</td>
</tr>
<tr>
<td>3</td>
<td>UsersControllerのfollowingsにフォローしているユーザーを、<br>followersにフォローされているユーザーを表示するメソッドを実装</td>
<td></td>
</tr>
<tr>
<td>4</td>
<td>フォロー、フォロワーの一覧ページの実装後に、フォロー、フォロワーの一覧リンクもユーザープロフィールページに設置</td>
<td></td>
</tr>
<tr>
<td>5</td>
<td>完成したらGitHubにブランチをプッシュ</td>
<td>git init<br>git add .<br>git commit -m "first commit"<br>git remote add origin https://github.com/yukaumemura/microposts.git</td>
</tr>
<tr>
<td>6</td>
<td>リポジトリ名(microposts)とブランチ名(followings-followers)を選択</td>
<td>git push -f microposts followings-followers<br>yukaumemura</td>
</tr>
<tr>
<td>7</td>
<td>コメント追加提出</td>
<td></td>
</tr>
<tr>
<td>8</td>
<td>課題提出後はmasterブランチに戻って作業を行ってください。</td>
<td></td>
</tr>
<tr>
<td>9</td>
<td>コードレビューで合格になった後に、followings-followersブランチをmasterブランチにマージ</td>
<td>git checkout followings-followers<br>git merge master</td>
</tr>
</table>

