
<h2>レッスン７　課題：オリジナル機能追加とHerokuへのデプロイ</h2>
<div class="panel panel-default">
  <div class="panel-heading">（製作条件）<a href="https://git.heroku.com/safe-tor-23114.git">Heroku上のWebアプリケーションにアクセスする</a></div>
</div>
<table class="table table-bordered">
	<tbody>
		<tr>
			<th  class="success">番号</th>
			<th  class="success">内容</th>
			<th  class="success">コマンド/備考</th>
		</tr>
		<tr>
			<td>１</td>
			<td>ここまで出来たら動作確認し、新しいブランチを作成（名前は、microposts-heroku）</td>
			<td>git checkout -b microposts-heroku</td>
		</tr>
		<tr>
			<td>2</td>
			<td>micropostsに、オリジナルのmicropostsにない機能を追加してカスタマイズしてください。<br>
			    カスタマイズの内容はデザインだけなく、Rubyのコードが必要な、独自性のある機能追加が好ましい</td>
			<td>この後のチャプターの「拡張してみよう」を参考</td>
		</tr>
		<tr>
			<td>3</td>
			<td>カスタマイズしたアプリケーションをHerokuにアップロードして動かしてください。</td>
			<td>動かし方はメッセージボードのレッスンなどを参考</td>
		</tr>
		<tr>
			<td>3</td>
			<td>完成したらGitHubにブランチをプッシュ</td>
			<td>git init<br>git commit -m "first commit"<br>git remote add origin https://github.com/yukaumemura/microposts.git</td>
		</tr>
		<tr>
			<td>4</td>
			<td>リポジトリ名(microposts)とブランチ名(microposts-heroku)を選択</td>
			<td>git push microposts microposts-heroku<br>yukaumemura</td>
		</tr>
		<tr>
			<td>5</td>
			<td>コメントに必ずアプリケーションHerokuのURLと実装したオリジナル機能の内容を記載提出</td>
			<td> 必ずアプリケーションのHerokuURLにアクセスして、オリジナル機能の動作確認</td>
		</tr>
		<tr>
			<td>6</td>
			<td>課題提出後はmasterブランチに戻って作業を行ってください。</td>
			<td>git checkout microposts-heroku<br>git merge master</td>
		</tr>
		<tr>
			<td>7</td>
			<td>(提出時の注意)提出フォームの項目にある「動作確認用URL」には「HerokuのURL」を記載</td>
			<td></td>
		<tr>
			<td>8</td>
			<td>コードレビュー合格後にmicroposts-herokuブランチをmasterブランチにマージ</td>
			<td></td>
		</tr>
	</tbody>
</table>

